<div class="container">
  <div class="row">
      <section class="col-sm-12 main-section ">
          <div class="jumbotron">
              <h1 class="display-4">Employee Manager App!</h1>
              <a class="btn btn-primary btn-lg" routerLink="/employees/add" role="button">Create New Employee</a>
          </div>
      </section>
  </div>

  <div class="row">

      <div class="card col-sm-3">
          <div class="card-body">
              <h5 class="card-title">Jon</h5>
              <p class="card-text">3214123</p>
              <a routerLink="/employees/1" class="link">View Details</a>
          </div>
      </div>

  </div>

</div>